@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,400;1,500&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all{
    position: relative;
    background-color: #FFF7DF;
}
@media (min-height:1053px) {
    .all{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}

footer {
    position: relative;
    z-index: 100;
    max-width: 100vw;
    width: 100%;
}

html {
    scroll-behavior: smooth !important;
}

-webkit::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

.row {
    --bs-gutter-x: 0;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 100px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}

.header {
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
}

html {
    scroll-behavior: smooth !important;
}

-webkit::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

.row {
    --bs-gutter-x: 0;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 100px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}



.navbar-brand {
    font-size: 40px !important;
    color: rgb(99, 99, 99) !important;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.navbar-collapse {
    margin-left: 200px;
}

.btn {
    background: orange;
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 100px;
    border: none;
    transition: all .5s ease-in-out !important;
    margin-right: 20px;
}

.btn:hover {
    background: white !important;
    color: black;
}

.nav-link::after {
    content: '';
    display: block;
    width: 100%;
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    height: 2px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.nav-link:hover::after {
    content: '';
    display: block;
    width: 100%;
    background-color: white;
    height: 2px;
    opacity: 1;
}

.nav-link-btn {
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.icons {
    display: flex;
    justify-content: space-around;
    width: 25%;
    color: #FFC000;
    transition: all 0.5s ease;
}

.icons a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s ease;
}

.icons button {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
}

.dropdown-content {
    display: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    position: absolute;
    right: 0%;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(102, 102, 102);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: linear-gradient(268.24deg, #FFD600 28.4%, #FF8A00 160.29%);
    color: #ffffff;
}

#dropbuttons {

    font-size: 50px;
    color: #b8b8b8;
}

#dropbuttons:hover .dropdown-content {
    display: block;
}

@media (max-width: 1440px) {
    .navbar-collapse {
        margin-left: 100px;
    }

    .icons {
        display: flex;
        justify-content: space-around;
        width: 100%;
        color: #FFC000;
        transition: all 0.5s ease;
    }
}

@media (max-width: 1100px) {
    .navbar-collapse {
        margin-left: 0px;
    }

    .icons {
        display: flex;
        justify-content: space-around;
        width: 100%;
        color: #FFC000;
        transition: all 0.5s ease;
    }
}

.dropdown-menu {
    border: none;
    background: none;
    width: fit-content !important;
    margin-left: 40px !important;
}

.footer {
    margin-top: 5%;
    background: #212121;
    margin-top: auto;
}

.footer_main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #fff
}

.footer_bot {
    display: flex;
    justify-content: space-around;
    padding: 0.4%;
    background: #000000;
    color: #fff;
}

.info-footer {
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
}

.flinks {
    width: 10%;
    margin-top: 2%;
    display: block;
}

.contact {
    width: 10%;
    margin-top: 2%;
    display: block;
}

.faq {
    width: 10%;
    margin-top: 8.5%;
}

.l {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10%;
}

.link {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 5%;
    display: block;
    color: #fff;
    text-decoration: none;
}

.infotext {
    color: #fff;
    font-size: 17px;
}

.footerimg {
    margin-top: 4%;
}

.private {
    display: flex;
}

.credit {
    color: #FF8A00;
    margin-left: 10%;
}

.pp {
    text-decoration: none !important;
    color: #fff;
    outline: none !important;
}

.p {
    display: flex;
    width: 20%;
    justify-content: space-around;
}

.line{
    height: 50%;
    width: 100%;
    background-color: #ff9100;
    top: 50%;
    position: absolute;
    
}

::selection {
    background: #ff9100;
    color: #fff;
}

.container1 {
    max-width: 1100px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 80px 0;
}

.container1 .main-card {
    display: flex;
    justify-content: space-evenly;
    width: 300%;
    transition: 1s;
}

#two:checked~.main-card {
    margin-left: -100%;
}

#three:checked~.main-card {
    margin-left: -200%;
}

.container1 .main-card .cards {
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
}

.main-card .cards .card {
    width: calc(100% / 3 - 10px);
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
}

.main-card .cards .card:hover {
    transform: translateY(-15px);
}

.cards .card .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards .card .content .user {
    font-size: 130px;
    color: #FFF;
    border-radius: 50%;
    padding: 30px;
    background: #ff9100;
    margin-bottom: 14px;
}

.card .content .img i {
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    border-radius: 50%;
    object-fit: cover;
}

.card .content .name {
    font-size: 20px;
    font-weight: 500;
}

.card .content .job {
    font-size: 20px;
    color: #ff9100;
}

.homework {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 30px;
    background-color: #ff9100;
    width: 100%;
    padding: 15px;
}

.task input[type=checkbox] {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 20px;
    height: 20px;
}

.card .content .homework {
    margin-top: 10px;
    display: flex;
}

.container1 .button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.button label {
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: #fff;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button label.active {
    width: 35px;
}

#one:checked~.button .one {
    width: 35px;
}

#one:checked~.button .two {
    width: 15px;
}

#two:checked~.button .one {
    width: 15px;
}

#two:checked~.button .two {
    width: 35px;
}

#three:checked~.button .one {
    width: 15px;
}

#three:checked~.button .three {
    width: 35px;
}

input[type="radio"] {
    display: none;
}

@media (max-width: 768px) {
    .main-card .cards .card {
        margin: 20px 0 10px 0;
        width: calc(100% / 2 - 10px);
    }
}

@media (max-width: 600px) {
    .main-card .cards .card {
        /* margin: 20px 0 10px 0; */
        width: 100%;
    }
}

.task-item {
    display: flex;
    align-items: center;
}

.tasks-wrapper {
    height: 100%;
}

.task {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 13px;
}

.task .check {
    margin-right: 10px;
}

.task:hover {
    transform: translatex(2px);
}

.tag {
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 20px;
}

@media screen and (max-width: 700px) {
    .tasks-wrapper {
        height: auto;
    }
}